* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: red 1px solid;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #c0e0e0;
    min-height: 100vh;
    width: 100%;
}

a:link {
    color: #ffffff;
}

a:hover{
    color: #c0c0e0;
}
/*ensures links have no line under them*/
a {
    text-decoration: none;
    color: #ffffff;
}

p {
    font-size: 16px;
    padding: 20px;
}

/*these blocks style the header (part of the footer), nav and banner*/


/*why does't the color apply to the list elements? my work turns blue if I don't have the color in a{} above*/
.header, footer {
    padding: 20px;
    background-color: #2060a0;
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.header h1 {
    font-size: 48px;   
} 

nav {
    padding-top: 15px;
    font-size: 20px;
    flex: 1;
    text-align: right;
} 

.header nav ul li {
    display: inline-block;
    margin-right: 25px;
}

.banner {
    height: 100px;
    width: 100%;
}

/*these blocks style the about me and my work sections*/


/*headings*/
#about-me, #my-work {
    color: #4080c0;
    margin-left: 200px;
    text-align:justify;
    font-size: 40px;
}

#about-container {
    display: flex;
}

#blurb-about-me {
    display: inline-block;
}
/*image of me*/
#emily {
    height: 150px;
    border-radius: 50%;
    border: #4080c0 10px solid;
    display: inline-block;
    margin-left: 2px;   
}
/*these blocks style the my work section*/

#first-project {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

#seo-project {
    width: 75%;
    border: 5px solid #60a0c0;
    display: block;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;  
}

#seo-project:hover {
    opacity: .3;
}

#seo a {
    color:#4080c0;    
}

#seo a:hover {
    color: #c0c0e0;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row {
    content: "";
    clear: both;
}

.coming-soon-image {
    width: 50%;
    border: 5px solid #60a0c0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

.coming-soon-image:hover {
    opacity: .3;
}

section article figure figcaption {
    color:#4080c0;
    text-align: center;
}

section article figure figcaption:hover {
    color: #c0c0e0;
}

/*these blocks style the footer*/

footer {
    /*position: fixed;
    left: 0;
    bottom: 0;*/
    width: 100%;
}

footer h2 {
    display: inline-block;
    font-size: 40px;
}

footer nav ul li {
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
} 



/*This code changes the appearance of the page is the 
viewing screen is smaller.*/

@media only screen and (max-width: 600px) {

    p, a {
        font-size: 12px;
    }

    .header, footer {
        height: 125px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        padding: 0px;
    }

    .header h1 {
        font-size: 30px;
        text-align: center;
        display: block;
        padding-top: 3px;
    }
   
    nav{ 
        padding: 2px;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.header nav ul li {
    margin-left: auto;
    margin-right: auto;
}

    .banner {
        height: 50px;
    }

    #about-container {
        display: flex;
        flex-direction: column;
    }

    #emily {
        height:100px;
        width: 100px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid #4080c0;
    }

    #about-me, #my-work, footer h2 {
        font-size: 25px;
    }

    #about-me, #my-work {
        text-align: center;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #first-project {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

     #seo-project {
        width: 100%;
    }

    .row{
        display: flex;
        flex-direction: column;
        padding-bottom: 3px;
    }

    .column {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .coming-soon-image {
        height: 100px;
    }

    footer {
        height: 100px;
    }

    footer h2 {
        display: inline-block;
        font-size: 25px;
        padding-top: 5px;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }

    footer nav ul li {
        font-size: 12px;
        bottom: 15px;
        white-space: nowrap;    
        margin-left: auto;
        margin-right: auto;
        padding-top: 3px;
    }
}
    @media only screen and (max-width: 800px) {
        .header, footer {
            height: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ffffff;
            padding: 0px;
        }

        .header h1 {
            font-size: 30px;
            text-align: center;
            display: block;
            padding-top: 3px;
        }
       
        nav{ 
            padding: 2px;
        }
    
        .header nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    .header nav ul li {
        margin-left: auto;
        margin-right: auto;
    }

    footer h2 {
        display: inline-block;
        font-size: 25px;
        padding-top: 5px;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }

    footer nav ul li {
        font-size: 12px;
        bottom: 15px;
        white-space: nowrap;    
        margin-left: auto;
        margin-right: auto;
        padding-top: 3px;
    }

    }

